<div class="container"> 
  <!-- <div class="page-header"> -->
  <h1 style= "color:white; font-style:italic; font-family:fantasy; text-align:center">
  Travel......<br>
  The best way to be lost.. and found...<br> 
  All at the same time!<br>
  ~ Brenna Smith </h1>
  <!-- </div> -->
  <!DOCTYPE html>
  <html>
  <style> 
      body {
             background-image: url("/travelbackground.jpg"); 
             background-size: 1400px 1000px;
             background-repeat: no-repeat;
           } 
  </style>
  </html>

  <div class="img-wrapper">
      <div class="img-overlay">
        <div class="text-center">
          <button class= "btn btn-success btn-lg">Browse</button>
          <button class= "btn btn-success btn-lg">Upload</button>
        </div>
      </div>
    </div>
</div>