  <table>
    <p>
      <!-- <strong>Commenter:</strong> -->
     <h5><%= comment.commenter %></h5><h5>says...</h5>
    </p>
    <p>
      <!-- <strong>Comment:</strong> -->
      <strong><%= comment.body %></strong>
    </p>
    <p>
      <%= link_to 'Destroy Comment', [comment.article, comment],
                   method: :delete,
                   data: { confirm: 'Are you sure?' } %>
    </p>
  </table>

