<!-- <div class="scroll" style="overflow-y: scroll; height:50px"> -->
  
  <table> 
  <!-- <body> -->
  <!-- <div style="width: 190px; height: 190px; overflow: scroll; padding: 5px"> -->
          <!-- content in here -->
       
    <!-- <tr> -->
    <!-- <td> -->
    <p>
      <strong>Commenter:</strong>
      <%= comment.commenter %>
    </p>
    <!-- </td> -->
    <!-- </tr> -->
     
    <!-- <tr> -->
    <!-- <td>  -->
    <p>
      <strong>Comment:</strong>
      <%= comment.body %>
    </p>
    <!-- </td> -->
    <!-- </tr> -->
  <!-- </div> -->
  <!-- </body> -->
  <p>
  <%= link_to 'Destroy Comment', [comment.article, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>
  </table>
<!-- </div> -->
