<div class="container" style="margin-top:150px">> 
  <!-- <div class="page-header"> -->
  <h1 style= "color:white; font-style:italic; font-family:fantasy; text-align:center">
  Backward..<br>
  Turn backward...<br> 
  O' Time in your flight<br>
  Make me a child again<br>
  Just for tonight...<br>
  </h1>
  <!-- </div> -->
  <!DOCTYPE html>
  <html>
  <style> 
      body {
             background-image: url("/movies1.jpg"); 
             background-size: cover;
             background-repeat: no-repeat;
           } 
  </style>
  </html>

  <div class="img-wrapper" style="margin-top:70px">
      <div class="img-overlay">
        <div class="text-center">
          <!-- <button class= "btn btn-success btn-lg", background-color:black;> -->
           <%#= link_to 'Browse', movies_index_path, :style=> 'color:white;', :class => 'css_class'%>
          <!-- </button> -->
          <%= link_to "Browse", {:action => "index"}, class: "btn btn-success btn-lg", role: "button" %>
          <button class= "btn btn-success btn-lg">Upload</button>
        </div>
      </div>
  </div>
</div>