<!-- homepage.h -->
<div class="container"> 
  <!-- <div class="page-header"> -->
  <h1 style= "color:red; font-style:italic; font-family:fantasy; text-align:center">
  <!-- If you're happy and you know it!<br> -->
  woof!!!<br> 
  <br>
  </h1>
  <!-- </div> -->
  <!DOCTYPE html>
  <html>
  <style> 
      body {
             background-image: url("/petbackground.jpg"); 
             background-size: 1400px 900px;
             background-repeat: no-repeat;
           } 
  </style>
  </html>

  <div class="img-wrapper">
      <div class="img-overlay">
        <div class="text-center">
          <button class= "btn btn-success btn-lg">Browse</button>
          <button class= "btn btn-success btn-lg">Upload</button>
        </div>
      </div>
    </div>
</div>