<div class="container" style="margin-top:50px"> 
  <!-- <div class="page-header"> -->
  <!-- <h1 style= "color:black; font-style:italic; font-family:fantasy; text-align:center"> -->
  <!-- Fashion is a trend...<br>
  Style lives within a person..<br> 
  ~ Oscar De la Renta </h1> -->
  <!-- </div> -->
  <!DOCTYPE html>
  <html>
  <style> 
      body {
             background-image: url("/authors1.jpg"); 
             background-size: cover;
             background-repeat: no-repeat;
           } 
  </style>
  </html>

  <div class="card" style="width: 10rem height: 5rem;">
    <img class="card-img-top" src="/author1.jpg" alt="Card image cap">
    <div class="card-block">
    <h4 class="card-title" style="color:black;">Name of Author</h4>
    <p class="card-text" style="color:black;">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
    </div> 

    <div style="margin-left:500px">
    <img class="card-img-top" src="/author1.jpg" alt="Card image cap" >
    <div class="card-block">
    <h4 class="card-title" style="color:black;">Name of Author</h4>
    <p class="card-text" style="color:black;">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere else</a>
    </div>
    </div> 

  </div>

</div>

