<div class="container" style="margin-top:200px"> 
  <!-- <div class="page-header"> -->
  <!-- <h1 style= "color:black; font-style:italic; font-family:fantasy; text-align:center"> -->
  <!-- Fashion is a trend...<br>
  Style lives within a person..<br> 
  ~ Oscar De la Renta </h1> -->
  <!-- </div> -->
  <!DOCTYPE html>
  <html>
  <style> 
      body {
             background-image: url("/authors2.jpg"); 
             background-size: cover;
             background-repeat: no-repeat;
           } 
  </style>
  </html>

  <div class="img-wrapper" style="margin-top:5px">
      <div class="img-overlay">
        <div class="text-center">
          <button class= "btn btn-success btn-lg">
          <%= link_to 'Initiative', authors_initiative_page_path, :style=> 'color:white;', :class => 'css_class'%></button>
          <button class= "btn btn-success btn-lg">
          <%#= link_to 'Author Profiles', authors_author_profiles_page_path, :style=> 'color:white;', :class => 'css_class'%>
          Author Profiles  
          </button>
          <button class= "btn btn-success btn-lg">
          <%= link_to 'Musings', authors_musings_page_path, :style=> 'color:white;', :class => 'css_class'%></button>
        </div>
      </div>
    </div>
</div>