<div class="container" style="margin-top:50px"> 
<!--   <!DOCTYPE html>
  <html>
  <style> 
      body {
             background-image: url("/authors1.jpg"); 
             background-size: cover;
             background-repeat: no-repeat;
           } 
  </style>
  </html> -->                        
<div class="card" style="width: 40rem; height: 45rem!important;">
  <img class="card-img-top" src="/author1.jpg" alt="Card image cap" style="height: 30rem">
  <div class="card-block">
    <h4 class="card-title" style="color:white;">Name of developer</h4>
    <p class="card-text" style="color:white;">Brief hello</p>
    <a href="#" class="btn btn-primary">Connect</a>
  </div>
</div>

<div class="card" style="margin-top:20px; width: 40rem; height: 45rem!important;">
  <img class="card-img-top" src="/author1.jpg" alt="Card image cap" style="height: 30rem">
  <div class="card-block">
    <h4 class="card-title" style="color:white;">Name of developer</h4>
    <p class="card-text" style="color:white;">Brief hello</p>
    <a href="#" class="btn btn-primary">Connect</a>
  </div>
</div>

</div>



