<div class="container" style="margin-top:30px"> 
  <!-- <div class="page-header"> -->
  <h1 style= "color:black; font-style:italic; font-family:fantasy; text-align:center">
   Musings by authors...
  </h1>
  <!-- </div> -->
  <!DOCTYPE html>
  <html>
  <style> 
      body {
             background-image: url("/authors1.jpg"); 
             background-size: cover;
             background-repeat: no-repeat;
           } 
  </style>
  </html>