<div class="container"> 
  <!-- <div class="page-header"> -->
  <h1 style= "color:white; font-style:italic; font-family:fantasy; text-align:center">
  <br> 
  Without music<br>
  Life would B<sup>&#x266d</sup><br>
  </h1>
  <!-- </div> -->
  <!DOCTYPE html>
  <html>
  <style> 
      body {
             background-image: url("/musicbackground.jpg"); 
             background-size: 1400px 800px;
             background-repeat: no-repeat;
           } 
  </style>
  </html>

  <div class="img-wrapper">
      <div class="img-overlay">
        <div class="text-center">
          <button class= "btn btn-success btn-lg">Browse</button>
          <button class= "btn btn-success btn-lg">Upload</button>
        </div>
      </div>
    </div>
</div>