<div class="container" style="margin-top:180px">> 
  <!-- <div class="page-header"> -->
  <h1 style= "color:white; font-style:italic; font-family:fantasy; text-align:center">
  Backward..<br>
  Turn backward...<br> 
  O' Time in your flight<br>
  Make me a child again<br>
  Just for tonight...<br>
  </h1>
  <!-- </div> -->
  <!DOCTYPE html>
  <html>
  <style> 
      /*body {
             background-image: url("/remembrancebackground.jpg"); 
             background-size: cover;
             background-repeat: no-repeat;
           }*/
        body::before {
         background: url("/remembrancebackground.jpg") no-repeat center center fixed;
         content: '';
         z-index: -1;
         width: 100%;
         height: 100%;
         position:absolute; 
         -webkit-background-size: cover;
         -moz-background-size: cover;
         -o-background-size: cover;
         background-size: cover;
         -webkit-filter: blur(3px);
         -moz-filter: blur(3px);
         -o-filter: blur(3px);
         -ms-filter: blur(3px);
         filter: blur(3px);
        } 
  </style>
  </html>

  <div class="img-wrapper" style="margin-top:20px">
      <div class="img-overlay">
        <div class="text-center">
          <button class= "btn btn-success btn-lg", background-color:black;>
           <%= link_to 'Browse', remembrances_index_path, :style=> 'color:white;', :class => 'css_class'%>
          </button>
          <button class= "btn btn-success btn-lg">Upload</button>
        </div>
      </div>
    </div>
</div>